{
    "cluster_name": "playground",
    "services": [
        {
            "name": "cloudone",
            "region": "us-1",
            "instance": "cloudone",
            "api_key": "YOUR KEY HERE"
        },
        {
            "name": "container_security",
            "policy_name": "relaxed_playground",
            "namespace": "trendmicro-system"
        },
        {
            "name": "kube-system",
            "namespace": "kube-system"
        },
        {
            "name": "gatekeeper",
            "namespace": "gatekeeper-system"
        },
        {
            "name": "cadvisor",
            "namespace": "cadvisor"
        }
    ]
}
